.*
!.gitignore

p1/wman
p1/wapropos.dSYM/Contents/Info.plist
p1/wapropos.dSYM/Contents/Resources/DWARF/wapropos
p1/wapropos
p1/wman.dSYM

p1/wgroff
p1/man_pages/man1/wman
p1/wgroff.dSYM/Contents/Info.plist
p1/wgroff.dSYM/Contents/Resources/DWARF/wgroff
